<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog" aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row gx-0">
          <div class="col-12 col-md-6 bg-cover card-img-start" style="background-image: url({{webRoot}}/assets/img/photos/photo-8.jpg);">

            <!-- Image (placeholder) -->
            <img src="{{webRoot}}/assets/img/photos/photo-8.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="shape shape-end shape-fluid-y text-white d-none d-md-block">
              {{> curves/curve-4}}
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

              <!-- Heading -->
              <h2 class="mb-0 fw-bold text-center" id="modalSignupHorizontalTitle">
                Learn more about us!
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
               Leave your email and we will get back to you.
              </p>

              <!-- Form -->
              <form class="mb-6">
              <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
           <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "39934138",
                formId: "7e4ae0e6-b2b6-49df-8465-490046e26948"
              });
            </script>
              </form>

              <!-- Text -->
             

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>
