<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="{{webRoot}}/assets/img/logo-transparent.png" alt="..." class="footer-brand img-fluid">

      </div>
      <div class="col-12 col-md-4 col-lg-3 pl-lg-9 pl-md-9">

      
        <!-- Text -->
        <p class="text-dark mb-2 mt-2">
          1312 Blanshard Street
          <br>
          Victoria, BC, Canada.
        </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3 pl-lg-9 pl-md-9">
          <!-- Text -->
        <p class="text-dark mb-2 mt-2">
          133 Bethnal Green rd.
          <br>
          London, UK.
        </p>


      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
