<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" href="{{webRoot}}/assets/favicon/favicon.ico" type="image/x-icon" />

<!-- Map CSS -->
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

<!-- Libs CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />

<meta property="og:title" content="evidently" />
<meta property="og:description" content="Grow your herd on Mastodon." />
<meta property="og:url" content="https://www.evidently.io/" />
<meta property="og:image" content="{{webRoot}}/assets/img/logo.png" />
<meta property="og:type" content="website" />

<!-- Title -->
<title>{{title}}</title>
